@model List<eCert.Models.ViewModel.SubjectViewModel>
@using eCert.Models.ViewModel
<tr>
    <th>ID</th>
    <th>Semester</th>
    <th>Subject Code</th>
    <th>Subject Name</th>
    <th>Mark</th>
    <th>Action</th>
</tr>
<div class="table-responsive">
    <table class="table table-centered mb-0">
        <thead>
            
        </thead>
        <tbody>
            @{
                int index = 1;
                for (int i = 0; i < Model.Count; i++)
                {
                    using (Html.BeginForm("GenerateCertificate", "Transcript", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" name="subjectCode" value="@Model[i].SubjectCode" />
                        <tr>
                            <td>@index</td>
                            <td>@Model[i].Semester</td>
                            <td>@Model[i].SubjectCode</td>
                            <td>@Model[i].SubjectName</td>
                            <td>@Model[i].Mark</td>
                            @if (Model[i].IsGenerated)
                            {
                                <td>
                                    <a href="@Model[i].Link">View certificate</a>
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="submit">Regenerate certificate</button>
                                </td>

                            }
                            else
                            {
                                <td>
                                    <button class="btn btn-primary" type="submit">Generate certificate</button>
                                </td>
                            }

                        </tr>
                    }

                    index++;
                }
            }

        </tbody>
    </table>

</div>
<div>
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            using (Html.BeginForm("GenerateCertificate", "Transcript", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="subjectCode" value="@Model[i].SubjectCode" />
                <div>
                    <div>@Model[i].Semester</div>
                    <div>@Model[i].SubjectCode</div>
                    <div>@Model[i].SubjectName</div>
                    <div>@Model[i].Mark</div>
                    @if (Model[i].IsGenerated)
                    {
                        <div>
                            <a href="@Model[i].Link">View certificate</a>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Regenerate certificate</button>
                        </div>

                    }
                    else
                    {
                        <div>
                            <button class="btn btn-primary" type="submit">Generate certificate</button>
                        </div>
                    }

                </div>
            }

            index++;
        }
    }
</div>