@model eCert.Models.ViewModel.ReportViewModel
@using eCert.Models.ViewModel
@using eCert.Utilities
<script src="~/assets/js/custom/loadAllReport.js"></script>

<div class="table-responsive @ViewBag.OverflowHidden">
    @if (ViewBag.Pagination.PagingData.Count == 0)
    {
        <div class="justify-content-center row">There is no report</div>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Roll Number</th>
                    <th>Report Tile</th>
                    <th>Certificate Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Create Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ReportViewModel reportViewModel in ViewBag.Pagination.PagingData)
                {
                    <tr>
                        <td class="userName">@reportViewModel.RollNumber</td>
                        <td>@reportViewModel.Title</td>
                        <td>@reportViewModel.CertificateName</td>
                        <td>@reportViewModel.ReportContent</td>
                        @if (@reportViewModel.Status.Equals(Constants.StatusReport.PENDING))
                        {
                            <td>
                                <span class="badge badge-warning ">@reportViewModel.Status</span>
                            </td>
                        }
                        else if (@reportViewModel.Status.Equals(Constants.StatusReport.UPDATED))
                        {
                            <td>
                                <span class="badge badge-success ">@reportViewModel.Status</span>
                            </td>
                        }
                        else if (@reportViewModel.Status.Equals(Constants.StatusReport.REJECTED))
                        {
                            <td>
                                <span class="badge badge-danger ">@reportViewModel.Status</span>
                            </td>
                        }

                        <td>@reportViewModel.CreateTime</td>
                    </tr>
                }
            </tbody>
        </table>
    }


    @if (ViewBag.Pagination.MaxPage > 1)
    {
        <nav aria-label="..." class="d-flex justify-content-center mt-3">
            <ul class="pagination mb-0">
                <!-- Previous button -->
                @if (ViewBag.Pagination.PageNumber <= 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link cursor-pointer" onclick="getAllReport(@(ViewBag.Pagination.PageNumber - 1))" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                }
                <!-- End previous button -->
                <!-- Display page numbers -->
                @if (ViewBag.Pagination.MaxPage <= 3)
                {
                    for (int i = 1; i <= ViewBag.Pagination.MaxPage; i++)
                    {
                        if (i == ViewBag.Pagination.PageNumber)
                        {
                            <li class="page-item cursor-pointer active"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item cursor-pointer"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                        }
                    }
                }
                else
                {
                    if (ViewBag.Pagination.PageNumber == 1)
                    {
                        for (int i = 1; i <= 3; i++)
                        {
                            if (i == ViewBag.Pagination.PageNumber)
                            {
                                <li class="page-item cursor-pointer active"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item cursor-pointer"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                            }
                        }
                    }
                    else if (ViewBag.Pagination.PageNumber == ViewBag.Pagination.MaxPage)
                    {
                        for (int i = ViewBag.Pagination.MaxPage - 2; i <= ViewBag.Pagination.MaxPage; i++)
                        {
                            if (i == ViewBag.Pagination.PageNumber)
                            {
                                <li class="page-item cursor-pointer active"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item cursor-pointer"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = ViewBag.Pagination.PageNumber - 1; i <= ViewBag.Pagination.PageNumber + 1; i++)
                        {
                            if (i == ViewBag.Pagination.PageNumber)
                            {
                                <li class="page-item cursor-pointer active"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item cursor-pointer"><a class="page-link" onclick="getAllReport(@i)">@i</a></li>
                            }
                        }
                    }
                }
                <!-- End display page numbers-->
                <!-- Next button -->
                @if (ViewBag.Pagination.PageNumber >= ViewBag.Pagination.MaxPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link cursor-pointer" onclick="getAllReport(@(ViewBag.Pagination.PageNumber + 1))" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                }
                <!-- End next button -->
            </ul>
        </nav>
    }
</div>
