@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="@(Url.Content("~/assets/css/vendor/dataTables.bootstrap4.css"))" />
<link rel="stylesheet" href="@(Url.Content("~/assets/css/vendor/responsive.bootstrap4.css"))" />


<!-- Home screen -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="javascript:void(0);"
                           class="btn btn-danger mb-2">
                            <i class="mdi mdi-plus-circle mr-2"></i> Add a
                            certificate
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-light mb-2">
                                Export all certificates
                            </button>
                        </div>
                    </div>
                    <!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap"
                           id="products-datatable">
                        <thead class="thead-light">
                            <tr>
                                <th class="all" style="width: 20px">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="customCheck1" />
                                        <label class="custom-control-label"
                                               for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th class="all">Certificate</th>
                                <th>Certificate organization</th>
                                <th>Added Date</th>
                                <th>Download</th>
                                <th>Quantity</th>
                                <th>Status</th>
                                <th style="width: 85px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="customCheck2" />
                                        <label class="custom-control-label"
                                               for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    <img src="~/assets/images/products/product-1.jpg"
                                         alt="contact-img"
                                         title="contact-img"
                                         class="rounded mr-3"
                                         height="48" />
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        <a href="apps-ecommerce-products-details.html"
                                           class="text-body">Amazing Modern Chair</a>
                                        <br />
                                        <span class="text-warning mdi mdi-star"></span>
                                        <span class="text-warning mdi mdi-star"></span>
                                        <span class="text-warning mdi mdi-star"></span>
                                        <span class="text-warning mdi mdi-star"></span>
                                        <span class="text-warning mdi mdi-star"></span>
                                    </p>
                                </td>
                                <td>Aeron Chairs</td>
                                <td>09/12/2018</td>
                                <td>$148.66</td>

                                <td>254</td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>

                                <td class="table-action">
                                    <a href="javascript:void(0);" class="action-icon">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="action-icon">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="action-icon">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>




                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card-->
    </div>
    <!-- end col -->
</div>

<!-- bundle -->
@*<script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/app.min.js"></script>*@


<!-- third party js -->
@*<script src="assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="assets/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="assets/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="assets/js/vendor/dataTables.checkboxes.min.js"></script>*@

@Scripts.Render("~/assets/js/vendor/jquery.dataTables.min.js")
@Scripts.Render("~/assets/js/vendor/dataTables.bootstrap4.js")
@Scripts.Render("~/assets/js/vendor/dataTables.responsive.min.js")
@Scripts.Render("~/assets/js/vendor/responsive.bootstrap4.min.js")
@Scripts.Render("~/assets/js/vendor/dataTables.checkboxes.min.js")
@Scripts.Render("~/assets/vendor/jquery.dataTables.min.js")


<!-- demo app -->

@Scripts.Render("~/assets/js/pages/demo.products.js")
<!-- end demo js-->