@model List<eCert.Models.ViewModel.SubjectViewModel>
@using eCert.Models.ViewModel
<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/assets/js/custom/ListTranscript.js"></script>

<h2>Transcripts</h2>

<table class="table table-centered mb-0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Semester</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Mark</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            for (int i = 0; i < Model.Count; i++)
            {
                using (Html.BeginForm("GenerateCertificate", "Transcript", FormMethod.Post, new { enctype = "multipart/form-data", id = "transcrptForm" }))
                {
                    <input type="hidden" name="subjectCode" value="@Model[i].SubjectCode" />
                    <tr>
                        <td>@index</td>
                        <td>@Model[i].Semester</td>
                        <td>@Model[i].SubjectCode</td>
                        <td>@Model[i].SubjectName</td>
                        <td>@Model[i].Mark</td>
                        @if (Model[i].IsGenerated)
                        {
                            <td>
                                <a href="@Model[i].Link">View certificate</a>
                            </td>
                            <td>
                                <button type="submit">Regenerate certificate</button>
                            </td>

                        }
                        else
                        {
                            <td>
                                <button type="submit">Generate certificate</button>
                            </td>
                        }

                    </tr>
                }

                index++;
            }
        }

    </tbody>
</table>


<!-- Display message to user -->
@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
              var data = '@TempData["Msg"]';
              $.NotificationApp.send("Message", data, "top-center", "Background color", "Icon");
          });
    </script>
}
