@model List<eCert.Models.ViewModel.SubjectViewModel>
@using eCert.Models.ViewModel
<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/assets/js/custom/ListTranscript.js"></script>

<h2>Transcripts</h2>

<table class="table table-centered mb-0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Semester</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Mark</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            for(int i = 0; i < Model.Count; i++)
            {
                //using (Html.BeginForm("GenerateCertificate", "Transcript", FormMethod.Post, new { enctype = "multipart/form-data", id = "transcrptForm" }))
                //{
                <tr>
                    <td>@index</td>
                    <td>@Model[i].Semester</td>
                    <td>@Model[i].SubjectCode</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Mark</td>
                    
                    @*@Html.DisplayTextFor(Model => Model[i].Name);*@
                    <td>
                        <button type="button" onclick="submitRowData(@Model[i].Semester, @Model[i].SubjectCode, @Model[i].Name, @Model[i].Mark)">Submit</button>
                    </td>
                </tr>
                //}

                index++;
            }
        }

    </tbody>
</table>

