@using eCert.Models.ViewModel
@model eCert.Models.ViewModel.ImportExcel

@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<!--Custom css-->
<link href="~/Assets/CSS/custom/import.css"
      rel="stylesheet"
      type="text/css" />
<link rel="stylesheet"
      type="text/css"
      href="~/assets/css/custom/share.css" />
<!--Jquery-->
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<!--Custom js-->
<script src="~/Assets/js/custom/import.js"></script>
<link rel="stylesheet"
      type="text/css"
      href="~/assets/css/custom/share.css" />
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <div class="card col-12 col-lg-6">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="page-title">Import certificates</h3>
                    <div class="">
                        <a class="btn btn-download" href="/SuperAdmin/">
                            Back to Manage Education System
                        </a>
                    </div>
                </div>

                <div class="text-muted font-14">
                        *Attention: Please upload file with extension .xlsx, .xls
                </div>

                <div>
                    <a href="/Admin/DownloadTemplateCertificate" class="btn btn-download my-2">
                        Download Template
                    </a>
                </div>
                <div class="tab-pane show active card-body px-0 pt-0" id="input-types-preview">
                    @using (Html.BeginForm("ImportCertificateSuperadmin", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="row col-12 pr-0">
                                <div class="form-group col-12 col-lg-6 pr-0">
                                    <label class="">Organization: </label>
                                    <select class="form-control" id="EduSystemId" name="EduSystemId">
                                        <option selected disabled>Select Education System</option>
                                    </select>
                                    <div class="mt-2">
                                        @Html.ValidationMessageFor(model => model.EduSystemId, "", new { @class = "text-danger mb-1" })
                                    </div>

                                </div>
                                <div id="campus-select" class="form-group col-12 col-lg-6 pr-0">
                                    <label class="">Campus: </label>
                                    <select class="form-control" id="CampusId" name="CampusId">
                                        <option selected disabled>Select Campus</option>
                                    </select>
                                    <div class="mt-2">
                                        @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger mb-1" })
                                    </div>
                                </div>


                            </div>
                            <div class="row col-12 pr-0">
                                <div class="form-group col-12 col-lg-6 pr-0">
                                    <label>File upload:</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @Html.TextBoxFor(model => model.File, new { type = "file", accept = ".xls,.xlsx", @class = "custom-file-input", @id = "customFile" })
                                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger mb-1" })
                                    </div>
                                </div>
                                <div class="form-group col-12 col-lg-6 pr-0" id="signature">
                                    <label class="">Signature: </label>
                                    <select class="form-control" id="SignatureId" name="SignatureId">
                                        <option selected disabled>Select Signature</option>
                                    </select>
                                    <div class="mt-2">
                                        @Html.ValidationMessageFor(model => model.SignatureId, "", new { @class = "text-danger mb-1" })
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="d-flex justify-content-between">
                            <div class="">
                                @if (ViewBag.MessageError != null)
                                {
                                    <span class="text-danger">@Html.Raw(ViewBag.MessageError)</span>
                                }
                                else
                                {
                                    <span class="text-green">@ViewBag.MessageSuccess</span>
                                }

                            </div>
                            <div class="d-none d-lg-block">
                                <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
                            </div>
                        </div>
                        <div class="d-block d-lg-none mt-2">
                            <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
                        </div>
                    }
                </div>

            </div>
                <!-- end card-body -->
            </div>
        <!-- end card-->
    </div>
    <!-- end col-->
</div>


