<script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model eCert.Models.ViewModel.ReportViewModel
@using eCert.Models.ViewModel
@using eCert.Utilities

<script src="~/assets/js/custom/DetailReport.js"></script>
<!--custom css-->
<link rel="stylesheet"
      type="text/css"
      href="~/assets/css/custom/detailReport.css" />
<link rel="stylesheet"
      type="text/css"
      href="~/assets/css/custom/academicReport.css" />
<link rel="stylesheet"
      type="text/css"
      href="~/assets/css/custom/share.css" />



<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <h3 class="page-title">Detail Report</h3>
        <div class="">
            <a class="btn btn-download" href="/AcademicService/">
                Back to Home
            </a>
        </div>
    </div>
    @if (ViewBag.ErrorMsg != null)
    {
        <p>This report does not exist</p>
    }
    else
    {
        <div class="shadow p-3 mb-5 mt-2 bg-white rounded">
            <!-- REPORT TITLE-->
            <div class="row">
                <div class="col-12">
                    <h4>@Model.Title</h4>
                </div>
            </div>
            <!-- REPORT CONTENT-->
            <div class="d-flex justify-content-end bd-highlight pt-3 mt-3 my-border">
                <div class="mr-auto bd-highlight">
                    <strong>@Model.Fullname </strong><br> From: @ViewBag.User.AcademicEmail
                </div>
                <div class=" pr-2 bd-highlight">
                    <span>Current status:</span>
                    @if (Model.Status.Equals(Constants.StatusReport.PENDING))
                    {
                        <span class="badge badge-warning ">@Model.Status</span>
                    }
                    else if (Model.Status.Equals(Constants.StatusReport.UPDATED))
                    {
                        <span class="badge badge-success ">@Model.Status</span>
                    }
                    else if (Model.Status.Equals(Constants.StatusReport.REJECTED))
                    {
                        <span class="badge badge-danger ">@Model.Status</span>
                    }

                </div>
                <div class="bd-highlight">
                    <p>@Model.CreateTime</p>
                </div>
            </div>

            <div class="mt-2">

                @Model.ReportContent

            </div>
            <!-- UPDATE STATUS-->
            <div class="bd-highlight pt-3 mt-5 my-border">
                <strong>Update Status Report</strong>
                @using (Html.BeginForm("DetailReport", "AcademicService", FormMethod.Post, new { enctype = "multipart/form-data", id = "updateStatus" }))
                {
                    @Html.HiddenFor(m => m.ReportId)
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.Status, "Pending")
                        <label class="form-check-label ml-1" for="inlineRadio1">Pending</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.Status, "Updated")
                        <label class="form-check-label ml-1" for="inlineRadio2">Updated</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.Status, "Rejected")
                        <label class="form-check-label ml-1" for="inlineRadio3">Rejected</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                }

            </div>
        </div>
    }

</div>
@Html.Partial("_AlertDialog")

@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
           var data = '@TempData["Msg"]';
           $.NotificationApp.send("Message", data, "top-center", "Background color", "Icon");
          });
    </script>
}
else if (ViewBag.Msg != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
           var data = '@ViewBag.Msg';
           $('#alertModal').modal('show');
           $('#confirmTitle').html('Alert');
           $('.modal-body').html(data);
          });
    </script>
}