@model eCert.Models.ViewModel.ReportViewModel
<!--Custom css-->
<link href="~/assets/CSS/custom/addReport.css"
      rel="stylesheet"
      type="text/css" />


@using (Html.BeginForm("AddReport", "Certificate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="row col-12 justify-content-center">
            <div class="card col-6">
                <div class="card-body">
                    <h3 class="text-center mb-4">Send Report</h3>
                    <div class="form-group mb-3">
                        <label for="simpleinput">Title</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Your title report" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label for="simpleinput">Certificate Name</label>
                        @Html.EditorFor(model => model.CertificateName, new { htmlAttributes = new { @class = "form-control", placeholder = "Your certificate name", @readonly = "readonly" } })
                        @Html.HiddenFor(model => model.CertificateId)
                    </div>
                    <div class="form-group mb-3 certificate_link">
                        <label for="example-textarea">Description</label>
                        @Html.TextAreaFor(model => model.ReportContent, new { @class = "form-control pb-0", placeholder = "Description of your report", rows = "5" })
                        @Html.ValidationMessageFor(model => model.ReportContent, "", new { @class = "text-danger" })
                        @*<p class="text-danger mt-1 cert_link">Certificate link is required</p>*@
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            SEND
                        </button>
                    </div>
                    @if (ViewBag.isSent != null)
                    {
                        if (ViewBag.isSent)
                        {
                            <div class="mt-1 text-green">
                                @ViewBag.Message
                            </div>
                        }
                        else
                        {
                            <div class="mt-1 text-danger">
                                @ViewBag.Message
                            </div>
                        }
                    }


                    
                </div>
            </div>
        </div>
    </div>
}


@*@Html.Partial("_NotificationDialog")*@