@model eCert.Models.ViewModel.PasswordViewModel
<link rel="stylesheet"
      type="text/css"
      href="/assets/css/custom/share.css" />

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <div class="card col-12 col-lg-6">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="page-title">Change password</h3>
                    <div class="">
                        <a class="btn btn-download" href="/Certificate/">
                            Back to My Certificate
                        </a>
                    </div>
                </div>


                @using (Html.BeginForm("ChangePassword", "Owner", FormMethod.Post, new { enctype = "multipart/form-data", id = "", @class = "mt-4" }))
                {
                    <div class="form-group mb-3 required">
                        <label class="control-label" for="simpleinput">Current password</label>
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group mb-3 required">
                        <label class="control-label" for="simpleinput">New password</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group mb-3 required">
                        <label class="control-label" for="simpleinput">Confirm new password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="my-2">
                        <button type="submit" class="btn btn-primary" id="submitButton" >Change</button>
                    </div>
                    @Html.ValidationMessageFor(model => model.ErrorMessage, "", new { @class = "text-danger" })

                }
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card-->
    </div>
    <!-- end col-->
</div>
